body {
    font-size: 28px;
    background-color:#333555;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: #8c8c8c;
}

.active {
    background-color: #00001a;
}

.title{
	background-color: #660033;
	color: #cc66ff;
}

.imgContainer{
    float:left;
    padding: 14px 16px;
}